# Copyright (c) 2024
# SPDX-License-Identifier: Apache-2.0

if SOC_WALLE_G

config SYS_CLOCK_HW_CYCLES_PER_SEC
	default 100000000

config RISCV_SOC_INTERRUPT_INIT
	default y

config NUM_IRQS
	default 36

config 2ND_LVL_INTR_00_OFFSET
	default 11

# No A extension
config ATOMIC_OPERATIONS_C
	default y

# Keep code in ram_code and data/bss in ram_main.
config XIP
	default y

# Stack and heap settings for ram_main (64KB)
config MAIN_STACK_SIZE
	default 2048

config HEAP_MEM_POOL_SIZE
	default 8192

endif # SOC_WALLE_G
