# Copyright (c) 2026
# SPDX-License-Identifier: Apache-2.0

config SPI_EFINIX_SAPPHIRE
	bool "Efinix Sapphire SPI controller"
	default y
	depends on DT_HAS_EFINIX_SAPPHIRE_SPI_ENABLED
	help
	  Enable the Efinix Sapphire SPI controller driver.
